{% extends "admin/base.html" %}

{% load i18n static %}

{% block title %}{{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrahead %}
  <link rel="icon" href="{% static 'ibl/admin/img/favicon.png' %}" sizes="32x32" />
  <link rel="icon" href="{% static 'ibl/admin/img/favicon.png' %}" sizes="192x192" />
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'ibl/admin/css/ibl_admin.css' %}" />
{% endblock %}

{% block branding %}

<div class="brand-container">
  <a href="{% url 'admin:index' %}" class="brand-link">
    <img title="{{ site_header|default:_('Django administration') }}" alt="{{ site_header|default:_('Django administration') }}" src="{% static 'ibl/admin/img/ibl-logo.png' %}">
  </a>
</div>

<!-- <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1> -->

{% endblock %}

{% block nav-global %}{% endblock %}